.exchange {
	width: 680px;
	display: grid;
	grid-template-columns: max-content 1fr;

}
	.enterCurrency {
		display: flex;
		justify-content: flex-end;
	}
		.currencyPicker {
			margin: 10px 20px;
		}
		.coins {
			width: 50px;
			margin: 10px 5px 10px 20px;
			text-align: end;
		}
	
	.enterDate {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
		.datePicker {
			margin: 10px 0px 10px 5px;
		}

	.convert {
		grid-column: 2/3;
		margin: auto;
		margin-right: 0px;
	}
	#result {
		grid-column: 2/3;
		/* width: 350px; */
		height: 15px;
		margin: auto;
		margin-right: 0px;
		margin-top: 10px; 
		
	}
.chartContainer {
	width: 680px;
	height: 340px;
}